<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Plant Input Data</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Temperature (F)</th>
            <th>Dew Point (F)</th>
            <th>Humidity (%)</th>
            <th>Time</th>
          </thead>
          <tbody>
            <% @inputs.each do |input| %>
              <tr>
                <td><%= input.fahrenheit_temperature %></td>
                <td><%= input.fahrenheit_dewpoint %></td>
                <td><%= input.humidity %></td>
                <td><%= input.created_at.strftime("%m-%d-%y %I:%M %p %Z") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @inputs, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Plant Data Chart</h1>
    </div>
    <div class="panel-body">  
      <%= line_chart Input.generate_chart_series, id: "plant-chart" %>
    </div>
  </div>
</div>

<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Daily Plant Animations<h1>
     </div>
    <div class="panel-body">
      <div id="links">
        <ul> 
          <% @images_info.each do |image| %>
            <li><%= link_to image[:date], image[:path], html_options: { title: image[:date] } %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 text-center">
  <%= link_to 'Collect Plant Data', collect_inputs_path, class: "btn btn-success btn-lg" %>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

